* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body  {
	background-color: #222222;
	margin: 0 auto;
	font-family: 'Nunito Sans', sans-serif;
}

.links {
	margin-left: auto;
	font-size: 12px;
	color: #808393;
}

.links a {
	color: #DBCFBF;
	text-decoration: none;
	margin-right: 0.5em;
}

.links a:hover {
	color: #4D99BF;
}

.side-bar {
	background-color: #222222;
	border-right: 2px solid #262626;
	width: 150px;
	align-items: stretch;
}

.side-bar ul {
	list-style: none;
}

.side-bar ul li {
	color: #CCCCCC;
	padding: 3px;
	padding-left: 5px;
	font-size: 12px;
}

.side-bar ul li:hover {
	color: #4D99BF;
	cursor: pointer;
	background-color: #262626;
	border-left: 2px solid #4D99BF;
}

.top-bar {
	background-color: #262626;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0, 0.3);
	font-size: 12px;
	display: flex;
	padding: 5px 5px;
}

.app-name {
	color: #7fcaac;
}

.app-name .an1 {
	color: #9EDE5E;
}

.app-name .an2 {
	color: #FF7977;
}

.content {
	display: flex;
	height: 100%;
}

.main-content {
	position: relative;
	border-right: 2px solid #262626;
/*	border-bottom: 2px solid #262626;*/
	height: 100%;
	width: 400px;
}

.main-content ul {
	list-style: none;
	color: #11bee6;
	font-size: 12px;
}

.main-content ul li {
	margin: 5px;
}