* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	min-width: 60em;
	min-height: 32em;
	font-size: 100%;
}

body  {
	background-color: #232323;
	width: 90%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}

.top-bar {
	background-color: #202020;
	position: relative;
	height: 2rem;
	padding: .50rem;
	box-shadow: 0 0 10px rgba(0,0,0, 0.3);
	font-size: 1rem;
	display: flex;
}

.random-triangle {
	width: 0;
	height: 0;
	border-top: 0.8em solid rgb(22, 136, 84);
	border-right: 0.8em solid transparent;
}

.iex-view-text {
	color: rgb(22, 136, 84);
}

.links {
	margin-left: auto;
	font-size: 0.7rem;
	margin-top: 0.3rem;
	color: #808393;
}

.links a {
	color: #DBCFBF;
	text-decoration: none;
	margin-right: 0.5em;
}

.links a:hover {
	color: #4D99BF;
}

.content-wrapper {
	display: flex;
	height: 100%;
	background-color: #222222;
	box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

.side-bar {
	flex: 0 0 7rem;
	align-items: stretch;
	border-right: 2px solid rgba(32,32,32,0.4);

}

.side-bar ul {
	list-style: none;
}

.side-bar ul li {
	color: #ECECEC;
	padding: 3px;
	padding-left: 5px;
	font-size: 0.8em;
}

.side-bar ul li:hover {
	/*color: rgb(22, 136, 84);*/
	cursor: pointer;
	background-color: #262626;
	border-left: 4px solid rgb(22, 136, 84);
}



.search-input {
	background: transparent;
	border: none;
	outline: none;
	padding: 5px;
	color: #AAA;
	width: 100%;
}

.main-content {
	position: relative;
/*	border-right: 1px solid rgba(38,38,38,0.7);*/
	height: 100%;
	width: 400px;
	color: #BABABA;
}

.main-content .stock-content-nav {
	padding: 3px;
	font-size: 11px;
	display: inline;
}

.main-content ul li {
	margin: 5px;
}