* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body  {
	background-color: #262626;
	margin: 0 auto;
	/* #1E1E1E; with box shadow */
	/* #272727; #2E2E2E; */
	font-family: 'Nunito Sans', sans-serif;
}

.links {
	margin-left: auto;
	font-size: 12px;
	color: #808393;
}

.links a {
	color: #DBCFBF;
	text-decoration: none;
	margin-right: 0.5em;
}

.links a:hover {
	color: #4D99BF;
}

.side-bar {
	background-color: #222222;
	font-size: 14px;
	height: 100%;
	width: 150px;
}

.side-bar ul {
	list-style: none;

}
.side-bar ul li {
	color: #CCCCCC;
	padding: 3px;
	padding-left: 5px;
	font-size: 12px;
}

.side-bar ul li:hover {
	color: #4D99BF;
	cursor: pointer;
	background: #262626;
}

.top-bar {
	background-color: #262626;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0, 0.3);
/*	border-bottom: 1px solid #1e1e1e;*/
	font-size: 12px;
	display: flex;
	padding: 5px 5px;
}

.app-name {
	color: #7fcaac;
}

.app-name .an1 {
	color: #9EDE5E;
}

.app-name .an2 {
	color: #FF7977;
}