<!DOCTYPE html>
<html class="page--stocks" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>IEXView</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Nunito|Lato:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="top-bar">
	<div class="random-triangle"> </div>
	<div class="iex-view-text">IEXView</div>
	<div class="links">
		by
		<a class="link-to-me" href="https://neelparikh.net"> nparikh </a>
		<a class="link-to-github" href="https://github.com/nnkparikh/"> github </a>
	</div>
</div>

<div class="content-wrapper">
	<div class="side-bar">
		<ul>
			<li class="nav-stocks"> Stocks </li>
			<li class="nav-market"> U.S. Market </li>
		</ul>
	</div>

	<div class="main-content">
		<!--- tool bar -->
		<div class="main-tool-bar">
			<div class="search-bar">
				<i class="material-icons md-24 md-light">search</i>
				<input type="text" class="search-input" placeholder="Search by ticker symbol or company." />
			</div>
			<div class="active-stocks"></div>
		</div>
		
		<!-- comapny info -->
		<div class="detailed-info">

		</div>
	</div>
</div>

</body>
</html>